html{
	overflow:hidden;
	height: 100%;
	width:100%;
}
@font-face {
     font-family: 'ChildhoodThick';
     src: url('../font/Childhood Thick.ttf');
}

body{
	height: 100%;
	width:100%;
	font-family:ChildhoodThick,Arial,Verdana,sans-serif; 
	font-size:12px; 
	line-height:16px;
	position:absolute;
	background-color: #A9EAFF; 
}
/*@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../font/league_gothic-webfont.eot');
    src: url('../font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/league_gothic-webfont.woff') format('woff'),<
         url('../font/league_gothic-webfont.ttf') format('truetype'),
         url('../font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

#slidingLinkMenu{
	position:absolute;
	width:90%;
	top:90%;
	left:5%;
	border:1px solid black;
	padding: 10px 0px 10px 0px;
	text-align:center;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	background: #66b6fc; /* Old browsers */
	background: -moz-linear-gradient(top, #66b6fc 0%, #b2e1ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66b6fc), color-stop(100%,#b2e1ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b6fc', endColorstr='#b2e1ff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #66b6fc 0%,#b2e1ff 100%); /* W3C */
}
a:focus{
	outline:none;
}
#slidingLinkMenu a{
	text-decoration:none;
	color:#3f4c6b;
}

#slidingLinkMenu a:hover{
	text-decoration:underline;
	color:#3f4c6b;
}

#slidingLinkMenu li{
	display:inline;
	list-style-type: none;
	padding-right: 5px;
}
#soleil{
	position:absolute;
	width:200px;
	height:200px;
	background:url("../images/Sprite/soleilSprite.png") 0 0 no-repeat;
}
#soleil:hover{
	background-position: -200px 0;
}
#nuage1{
	position:relative;
	margin-left:25%;
	margin-top:0%;
	z-index:11;
}
#nuage2{
	position:relative;
	margin-left:5%;
	margin-top:0%;
	z-index:10;
}
#try-again{
	width:700px;
	height:400px;
	position:absolute;
	top:-700px;
	left:200px;
	-webkit-transition: top 3000ms ease-in 1000ms;
        -moz-transition: top 3000ms ease-in 1000ms;
        -o-transition: top 3000ms ease-in 1000ms;
        transition: top 3000ms ease-in 1000ms;
}

#oiseau{
	position:relative;
	margin-left:40%;
	margin-top:-15%;
	z-index:2;
}
#maison{
	position:absolute;
	width:300px;
	height:300px;
	max-width:30%;
	max-height:50%;
	background:url("../images/Sprite/Maisonsprite2.png") no-repeat bottom left;
}
#maison:hover{
	background-position: -360px 0;
}
#arbre{
	position:absolute;
	width:200px;
	height:200px;
	margin-left:50%;
	margin-top:8%;
	background:url("../images/Sprite/arbresprite.png") no-repeat bottom left;
}
#arbre:hover{
	background-position: -200px 0;
}
#people{
	position:absolute;
	width:200px;
	height:200px;
	margin-left:30%;
	margin-top:9%;
	background:url("../images/Sprite/garconsprite.png") no-repeat bottom left;
}
#people:hover{
	background-position: -200px 0;
}
#ordi{
	position:absolute;
	width:200px;
	height:200px;
	margin-left:70%;
	margin-top:9%;
	background:url("../images/Sprite/ordisprite.png") no-repeat bottom left;
}
#ordi:hover{
	background-position: -200px 0;
}
